body {
    background-color: #d2ff4d;
}

a{
	text-shadow: 1px 1px red;
	color:orange;
}

h1 {
    text-align: center;
	text-shadow: 1px 1px red;
	color: orange;
}

h5{
	color: #d2ff4d;
	font-size: .1%;
}
p{
	color:orange;
	text-shadow: 1px 1px red;
}
