body{
	color:orange;
	background-color: lightgreen;
	text-align: center;
	text-shadow: 1px 1px lightgreen;
}
.column {
    -webkit-columns: 100px 2; /* Chrome, Safari, Opera */
    -moz-columns: 100px 2; /* Firefox */
    columns: 100px 2;
}
h5 {
	font-size: 400%;
}
a{
	color: orange;
}
p{
	font-size:200%
}